{{!-- This page shows the results and details of one clicked on event. From either the results page or the profile page --}}
<style>
.card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    margin-top: 10px;
  }
  
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
</style>



<div class="card">
        <img src="public/images/ticket-scalper.png" alt="Image of the venue" style="width: 100%">
            <div class="container">
                <h1>{{venue}}</h1>             
                <p>{{id}}</p>               
        <!--    <p>{{segment}}</p>              
                <p>{{genre}}</p>
                <p>{{subGenre}}</p> -->
                <p>{{price_range_min}}</p>
                <p>{{price_range_max}}</p>
                <p>{{start_date}}</p>
                <p>{{start_time}}</p>
            </div>
</div>
