{{!-- This page shows the results and details of one clicked on event. From either the results page or the profile page
--}}


<div class="text-center">
    
    <p>Venue</p>
    <p>{{event.venue}}</p>
    <p>Price Range Minimum</p>
    <p>{{event.price_range_min}}</p>
    <p>Price Range Maximum</p>
    <p>{{event.price_range_max}}</p>
    <p>start date</p>
    <p>{{event.start_date}}</p>
    <p>Start Time</p>
    <p>{{event.start_time}}</p>
    <p>Ticket Links</p>
    <p>{{event.ticket_link}}</p>

    <p>
        <button class="btn btn-primary">Add to Profile</button>
        <button class="btn btn-primary">Delete</button>
    </p>
</div>


<script src="./js/Homepage.js"></script>

