{{!-- This page shows the results and details of one clicked on event. From either the results page or the profile page --}}
<div class="card">
        <img src="AOFpKUs.png" alt="Image of the venue" style="width: 100%">
            <div class="container">
                <h1>{{venue}}</h1>             
                <p>{{id}}</p>               
        <!--    <p>{{segment}}</p>              
                <p>{{genre}}</p>
                <p>{{subGenre}}</p> -->
                <p>{{price_range_min}}</p>
                <p>{{price_range_max}}</p>
                <p>{{start_date}}</p>
                <p>{{start_time}}</p>
            </div>
</div>