{{!-- This page shows the results and details of one clicked on event. From either the results page or the profile page
--}}


<div class="text-center">
    <h2></h2>
    <p>get image</p>
    <p>Venue</p>
    <input type="text" value={{venue}}>
    <p>Price Range Minimum</p>
    <input type="text" value={{price_range_min}}>
    <p>Price Range Maximum</p>
    <input type="text" value={{price_range_max}}>
    <p>start date</p>
    <input type="text" value={{start_date}}>
    <p>Start Time</p>
    <input type="text" value={{start_time}}>
    <p>ticket link</p>
    <input type="text" value={{ticket_link}}>

    <p>
        <button class="btn btn-primary">Add to Profile</button>
        <button class="btn btn-primary">Delete</button>
    </p>
</div>


<script src="./js/Homepage.js"></script>

